.project
.classpath
/.settings

/web/.project
/web/.classpath
/web/.settings

/data/.project
/data/.classpath
/data/.settings

/util/.project
/util/.classpath
/util/.settings

/web/target

/data/target

/util/target