@CHARSET "UTF-8";

/* ****** Imports ****** */

@IMPORT url('/resource/style/restet.css');
@IMPORT url('/resource/style/thibaut_courouble.css');

/* ****** Container ******* */

body {
	font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
	color: #555860;
	background: #e6e6e6 url("../img/bg.bmp") 0 0 repeat;
}

.container  {
	background-color: #FFFFFF;
	border-color: blue;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 0 0 3px #AAAAAA;
	clear: both;
	margin: 0 auto;
	max-width: 1100px;
	min-width: 800px;
	width: 90%;}

.content-wrapper {
	padding: 10px;
}
	
.header {
	height: 80px;
	margin: 0 auto;
	max-width: 1100px;
	min-width: 800px;
	width: 90%;
}

/* ****** Common ******* */
.clear {
	clear: both;
}

input {
    color: #555860;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
}

/* ****** Header menu ****** */

.header img {
	width: 110%;
}

.header-logo {
	width: 155px;
	margin: 15px 10px 0 0;
	float: left;
}

.header-nav {
	float: left;
	margin: 15px 0 0 20px;
}

